// DO NOT COMMIT - THIS FILE (.secret.js) IS ADDED TO .gitignore, contains secrets that should not be shared
const keplrPrivateHex = ''; // either cosmosMnemonic || keplrPrivateHex
const cosmosMnemonic = ''; // either cosmosMnemonic || keplrPrivateHex
module.exports = {
  cosmos: {
    // copied from Keplr export for Google accounts removing the 0x
    privateHex: keplrPrivateHex,
    mnemonic: cosmosMnemonic,
  },
  secret: {
    apiKey: 'api_key_a4yX....'
    // A base api/viewing key generated using:
    /*
     const entropy = crypto.randomBytes(64).toString('base64');
        console.log(entropy);
        const info = await executeContract('secret1k0jntykt7e4g3y88ltc60czgjuqdy4c9e8fzek', client, {
          "create_viewing_key": {
            "entropy": entropy
          }
        });
        const key = JSON.parse(Buffer.from(info.data[0]).toString('utf-8'));
        console.log(info)
    */
  }
}
